<h1> My products</h1>
       {{#if hasProducts}}
           <br>
       {{else}}
           <p>No products found. Please add some products.</p>
       {{/if}}
       
       {{#if errorMessage}}
           <p class="error">{{errorMessage}}</p>
       {{/if}}

       {{#if successMessage}}
           <p class="success">{{successMessage}}</p>
       {{/if}}
       <ul class="product-list">
           {{#each products}}
               <li>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <img src="{{this.imageUrl}}" alt="{{this.title}}">
                <p>Price: ${{this.price}}</p>
                <form class="product-details__cart-form" action="/cart" method="POST">
                  {{#if ../isAuthenticated}}
                    <button class="btn product-details__cart-btn" type="submit">Add to Cart</button>
                    <input type="hidden" name="productId" value="{{this.id}}">
                  {{else}}
                    <p>Please log in to add products to your cart.</p>
                  {{/if}}
                </form>
                <a href="/products/{{this.id}}">Details</a>
               </li>
           {{/each}}
       </ul>

